 <!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="/js/bootbox.min.js"></script>
  <script src="/js/micromodal.min.js"></script>
   <script src="/js/script.js"></script>
<body>
    <div class="background">
        <button id="battery" class="battery"></button>
        <button id="e1" class="electron" style="left: 10%; top:80%">e-</button>
        <button id="e2" class="electron" style="left: 70%; top:30%">e-</button>
        <button id="e3" class="electron" style="left: 90%; top:50%">e-</button>
        <button id="e4" class="electron" style="left: 30%; top:30%">e-</button>
        <button id="e5" class="electron" style="left: 20%; top:30%">e-</button>
        <button id="e6" class="electron" style="left: 60%; top:10%">e-</button>
    </div>

<!-- The Modal -->
<div id="popup" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p id="modalText">Some text in the Modal..</p>
  </div>

</div>


</body>
</html> 