 <!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="/js/bootbox.min.js"></script>
  <script src="/js/micromodal.min.js"></script>
   <script src="/js/script.js"></script>
<body>
    <div class="background">
        <button id="battery" class="battery"></button>

        {% for n in range(19) %}
            <button id="e{{ n+1 }}" class="electron" style="left: {{ pos[n][0] }}%; top:{{ pos[n][1] }}%">e-</button>
        {% endfor %}
    </div>

    <!-- The Modal -->
    <div id="popup" class="modal">

          <!-- Modal content -->
        <div class="modal-content">
            <p id="modalText">Some text in the Modal..</p>
        </div>

    </div>


</body>
</html> 